*

!client/public
!client/src
!client/.eslintignore
!client/.eslintrc.js
!client/.stylelintignore
!client/.stylelintrc.js
!client/craco.config.js
!client/package-lock.json
!client/package.json

!server/config
!server/lib
!server/priv
server/priv/static
!server/mix.exs
!server/mix.lock
!server/rel
