x-app-env-files: &app_env_files
  - ./config/db_secret.env
  - ./config/docker_prod.env
  - ./config/docker_prod_secret.env

x-app-image: &app_image freedom_account:1.11.0

services:
  app:
    depends_on:
      - db
      - db_setup
    env_file: *app_env_files
    image: *app_image
    ports:
      - "8080:4000"
    profiles:
      - prod
    restart: unless-stopped

  db:
    env_file:
      - ./config/db_secret.env
    image: postgres:16.4
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - dbdata-16:/var/lib/postgresql/data

  db_setup:
    command: "/app/bin/migrate"
    depends_on:
      - db
    env_file: *app_env_files
    image: *app_image
    profiles:
      - prod

volumes:
  dbdata-16:
