<header class="px-4 sm:px-6 lg:px-8 text-center">
  <h1 class="text-xl font-semibold leading-8 text-zinc-800">
    <.link href={~p"/"}>Freedom Account</.link>
  </h1>
</header>
<main class="py-4">
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer class="px-4 sm:px-6 lg:px-8 text-center">
  <div class="text-sm text-zinc-800">
    Version <%= Application.spec(:freedom_account, :vsn) %>
  </div>
</footer>
